@import './fonts.css';
@import '@fileverse/ui/styles';
@import 'katex/dist/katex.min.css';
@import 'highlight.js/styles/atom-one-light.css';
@import 'highlight.js/styles/atom-one-dark.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ul,
  ol {
    list-style: revert;
  }

  *,
  ::before,
  ::after {
    @apply color-border-default;
  }

  .ProseMirror:focus {
    outline: none;
  }

  .ProseMirror .is-empty::before {
    @apply color-text-default opacity-40;
  }

  .ProseMirror .node-pageBreak {
    @apply color-bg-secondary;
  }
  .ProseMirror .node-reminderBlock {
    @apply mx-1;
  }

  .ProseMirror .presentation-mode .table-wrapper,
  .is-table div {
    @apply no-scrollbar;
  }

  .custom-ens-button {
    @apply bg-[#F0F6FF] hover:!bg-[#E0F0FF] w-full text-[#388CFB] h-10 gap-2 p-3;
  }

  .dark .custom-ens-button {
    @apply color-button-default hover:!bg-[#5C5C5C];
  }

  .reminder-wrapper {
    @apply border-[#5C0AFF] bg-[#F2F0FF] !px-2;
  }

  .dark .reminder-wrapper {
    @apply border-[#D4CDFF] bg-transparent !px-2;
  }

  .reminder-wrapper-overdue {
    @apply border-[#9F6B04] color-bg-danger-light !pl-2 !pr-8;
  }

  .dark .reminder-wrapper-overdue {
    @apply border-[#EFC703] bg-transparent !pl-2 !pr-8;
  }

  .reminder-wrapper-text {
    @apply text-[#5C0AFF];
  }

  .dark .reminder-wrapper-text {
    @apply text-[#D4CDFF];
  }

  .reminder-wrapper-text-overdue {
    @apply text-[#9F6B04];
  }

  .dark .reminder-wrapper-text-overdue {
    @apply text-[#EFC703];
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  position: static;
  user-select: none;
  -moz-osx-font-smoothing: grayscale;
}

.no-scrollbar::-webkit-scrollbar {
  display: none !important;
}
.no-scrollbar {
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
}

.scroll-container::-webkit-scrollbar {
  width: 0;
}

.scroll-container::-webkit-scrollbar:horizontal {
  height: 10px;
}

.scroll-container::-webkit-scrollbar-track:horizontal {
  background: #f8f9fa;
}

.scroll-container::-webkit-scrollbar-thumb:horizontal {
  background: #00000040;
  border-radius: 10px;
}

li > ol {
  counter-reset: list;
  margin: 0;
}

li > ol > li {
  list-style: none;
  position: relative;
}

li > ol > li:before {
  counter-increment: list;
  content: counter(list, lower-alpha) '. ';
  position: absolute;
  left: -1.4em;
}

/* Level 3 nested items to use Roman numerals */
li > ol > li > ol {
  counter-reset: sublist;
}

li > ol > li > ol > li {
  list-style: none;
  position: relative;
}

li > ol > li > ol > li:before {
  counter-increment: sublist;
  content: counter(sublist, lower-roman) '. ';
  position: absolute;
  left: -1.4em;
}

.tooltip:before {
  z-index: 999;
}

.node-view-content > div {
  word-break: break-word;
}

.invalid-content {
  border: 1px solid #ea9999;
  padding: 10px;
}

.node-pageBreak {
  height: 30px;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

div[data-page-break='false'] {
  border: none;
}

.remove-page-break {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.remove-page-break-icon {
  display: none;
}

div[data-type='page-break']:hover .remove-page-break-icon {
  display: inline-block;
}

.custom-border {
  border-color: #e8ebec;
}

.dark .custom-border {
  border-color: rgba(255, 255, 255, 0.2);
}

.custom-border-bg {
  background-color: #e8ebec;
}

.dark .custom-border-bg {
  background-color: rgba(255, 255, 255, 0.2);
}

.mobile-util-btn-group {
  background-color: #f8f9fa;
}

.dark .mobile-util-btn-group {
  background-color: #1a1a1a;
}

.vertical-divider {
  background-color: #e8ebec;
}

.dark .vertical-divider {
  background-color: #404040;
}
