@import '@fileverse/ui/styles';
@import 'katex/dist/katex.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ul,
  ol {
    list-style: revert;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #f8f9fa;
}

body {
  position: static;
  user-select: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none !important;
}
.no-scrollbar {
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
}

li > ol {
  counter-reset: list;
  margin: 0;
}

li > ol > li {
  list-style: none;
  position: relative;
}

li > ol > li:before {
  counter-increment: list;
  content: counter(list, lower-alpha) '. ';
  position: absolute;
  left: -1.4em;
}

/* Level 3 nested items to use Roman numerals */
li > ol > li > ol {
  counter-reset: sublist;
}

li > ol > li > ol > li {
  list-style: none;
  position: relative;
}

li > ol > li > ol > li:before {
  counter-increment: sublist;
  content: counter(sublist, lower-roman) '. ';
  position: absolute;
  left: -1.4em;
}

.tooltip:before {
  z-index: 999;
}

.node-view-content > div {
  word-break: break-word;
}

div[data-page-break="true"] {
  opacity: 0.3;
  background-color: #e9eaeb; 
  height: 30px;
  margin: 4rem 0;
}

div[data-page-break="false"] {
  border: none; 
}

.remove-page-break {
  cursor: pointer;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.remove-page-break-icon {
  display: none;
}

div[data-type="page-break"]:hover .remove-page-break-icon {
  display: inline-block;
}